/*
    CSS for Currency Converter
 */
 @charset "utf-8";
 
  /* html {
    box-sizing: border-box;
    overflow-x: hidden;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  } */

 * {
    box-sizing: border-box; 
  }
  
  body, html {
    height: 100%;
  }

  body {
    font-family: monospace, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #faebd7;
    margin: 0;
    background-color: #333;
    /* font-weight: 800;
    padding: 10px;
    margin: auto;
    max-height: 100%;
    color: #c0c0c0;
    font: 16px/1.5 monospace, Verdana, sans-serif;
    color: #88B04B;
    max-width: 400px;
    font-display: optional;
    line-height: 1.5;
    color: rgb(254, 254, 255);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  */
  }

  .app-container {
    height: 100vh;
    min-height: 570px;
    /* max-height: 590px; */
  }
  
  .flex-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    /* padding: 0.5em; */
    /* height: calc((100% - 90px)/7); */
    /* margin: 0;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    justify-content: space-around;
    border: 1px solid #211;
    text-align: center;
    line-height: 20%; */
  }

  main, header, footer {
    max-width: 500px;
    margin: auto;
  }

  header {
      height: 18%;
      font-variant: small-caps;
      background-color: #202;
      /* color: #fa0; */
      color: #8f0;
      border-radius: 5px 5px 0px 0px;
      /* height: 1%;
      min-height: 100px; 
      border: 3px solid #211;
      border: 1px solid #c0c0c0;
      width: 100%;
      clear: left;
      background-image: url('../images/coinsm.png'); */
    }
  
  .logo {
    margin: 0 10px;
    background-color: #faebd7;
  }

  main {
    overflow: hidden;
    height: 69%;
    /* height: 67%; */
    background-color: #000;
    border: 3px solid #202;
    /* padding: 3%;
    border: 5px solid rgb(255, 0, 0); */
  }

  .field {
    min-height: 32px;
    padding: 5px 0;
  }
      
  .field:hover {
    /* background-color:#411; */
    background-color:#222;
  }
    
  input, select {
    width: 65%;
    /* color: #fa0; */
    color: #8f0;
    background-color:#000;
    font-family: monospace, Helvetica, sans-serif;
    border: 1px solid #000;
    padding: 0.8em;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    /* border: 1px solid #fa0;
    border: 1px solid #211;
    color: #faebd7;
    margin: 4px 2px; */
  }

  button {
      font-size: 1em;
      width: 150px;
      height: 48px;
      /* color: #fa0; */
      color: #8f0;
      background-color: #202;
      border-radius: 5px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
      /* border: 1px solid #4a4a4a;
      color: #faebd7;
      border: 1px solid #fa09; */
  }
  
  .button:hover {
      /* background-color: #8f5; */
      background-color: #000;
      font-size: 1.2rem;
      color: #c0c0c0;
  }
  
  .info {
    min-height: 90px;
    /* border: 1px solid; */
  }

  footer {
    height: 13%;
    /* min-height: 70px; */
    border-radius: 0px 0px 5px 5px;
    background-color: #202;
  }

  p {
    padding: 0 5px;
  }

  a {
    /* color: #fa0; */
    color: #8f0;
    text-decoration: none;
  }

  a:hover {
    color: #fff;
    /* color: #faebd7;
    color: #fa0; */
  }

  /*
   *  Set page breakpoints 
   */

  @media screen and (min-width: 390px) {
    body {
      font-size: 19px;
    }
  }