/*
    CSS for Currency Converter
 */
 * {
    box-sizing: border-box; 
  }
  
  body html {
    padding: 10px;
    margin: auto;
    height: 80%;
    width: 100%;
    font-family: 'Helvetica', 'Verdana', 'sans-serif', 'Arial';
    font-weight: 800;
    font-display: optional;
    background-color: #000000;
    color: rgb(254, 254, 255);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
  }
    .flex-container {
      margin: 0 auto;
      overflow: hidden; 
      flex-wrap: wrap;
      flex-direction: column;  
      font-size: 16px;  
      width: 40%;
      height: 60%;    
      padding: 1%;
      border: 5px solid rgb(255, 0, 0);
    }

    .flex-container > div {
      flex-wrap: wrap;
      flex-direction: column; 
      padding: 1%;
      margin: 5% 0;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 20%;
      border: 1px solid rgb(255, 0, 0)
    }

  .header {
      padding: 1px;
      background-color: rgb(53, 14, 14);
      text-align: center;
      -webkit-text-stroke: 2px black;
      height: 1%;
      width: 100%;
      clear: left;
      background-image: url('../images/coinsm.png');
    }	
    
  .flex-container>div:hover {
    background-color: rgb(53, 14, 14);
    }
  
  .button {
      background-color: rgb(250, 80, 1); 
      color: rgb(255, 255, 255); 
      border: 1px solid rgb(235, 0, 0);
      padding: 2%;
      text-align: center;
      width: 50%;
      text-decoration: none;
      display: inline-block;
      font-size: 100%;
      margin: 5%;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
  }
  
  .button:hover {
      background-color:  rgb(255, 0, 0);
     
  }
   p {
    /* background-color: #4CAF50;  Green 
    border: none;*/
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: inherit; 
    line-height: 200%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
  
  input, select {
    /* background-color: #4CAF50;  Green 
    border: none;*/
    width: 70%;
    color: rgb(255, 255, 255);
    background-color: inherit; 
    border: 1px solid rgb(0, 24, 240);
    padding: 2%;
    text-align: center;
    text-decoration: none;
    padding: 1%;
    font-size: 100%;
    display: inline-block;
   /* margin: 4px 2px;*/
    cursor: pointer;
}

  .footer{
    border: 3px solid rgb(255, 0, 0);
    font-size: 1rem;
    width: 100%;
    clear: left;
    height: 1%;
    padding: 1px;
    text-align: center;
    background-color: rgb(53, 14, 14);
  }
